/* Applies to everything */
.root{
    -fx-font-family: "Liberation Sans Narrow";
    -fx-font-weight: bold;
    
    -fx-base: rgb(0, 109, 204);
}

/* Applies to all labels */
.label{
    -fx-border-radius: 5 5 5 5;
    -fx-background-radius: 5 5 5 5;
    -fx-border-style: solid;
    -fx-border-width: 3;
}

/* Applies to id = render-pane
 * this should only be the pane which the timeline is rendered on
 * (an instance ) */
#render-pane{
    -fx-background-color: gray;
}

/* Applies to id = axis-unit-label
 * this should be all unselected axis unit labels */
#axis-unit-label{
    /* nothing yet */
}

/* Applies to id = axis-unit-label
 * this should be all selected unit labels */
#axis-unit-label-selected{
    /* nothing yet */
}

/* Applies to id = atomic-label
 * this should be all unselected atomic labels */
#atomic-label{
    -fx-border-color: green;
}

/* Applies to id = duration-label
 * this should be all unselected duration labels */
#duration-label{
    -fx-border-color: blue;
}

/* Applies to id = event-selected
 * this should be all selected events */
#event-selected{
    -fx-border-color: black;
}

/* Applies to id = label-highlighted
 * this should be all events that have the mouse over them 
 * (a :hover selector might make more sense) */
#label-highlighted{
    -fx-background-color: rgb(0, 109, 204);
}